*{
    margin: 0;
    list-style-type: none;
    padding: 0;
}

html, body{
    width: 100%;
    height: 100%;
}

#titleSection{
    width: 100vw;
    height: 10vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



#groupContent{
    width: 100vw;
    height: auto;
}
    #comparisonChart{
        height: auto;
        width: 100vw;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
        .chartLabel{
            width: 100%;
            height: auto;
            margin: 10px;

            font-size: .8em;
            font-weight: bolder;
            color: black;
        }
            .chartLabel h2{
                margin-left: 15px;
            }
        
        .chartContainer{
            width: calc(100% - 20px);
            height: auto;
            border-radius: 15px;

            background: white;
            -webkit-box-shadow: 0px 0px 9px -1px rgba(0,0,0,0.30);
            -moz-box-shadow: 0px 0px 9px -1px rgba(0,0,0,0.30);
            box-shadow: 0px 0px 9px -1px rgba(0,0,0,0.30);
        }

    .groupButtons{
        height: auto;
        width: 100vw;
        margin-top: 20px;

        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
        .button{
            width: 50vw;
            height: 50px;
            margin: 10px;

            border: 1px solid black;
            border-radius: 50px;
            background: white;

            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
        }

#personalContent{
    width: 100vw;
    height: 100vh;
}
    #personalChart{
        height: auto;
        width: 100vw;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
            


#navigation{
    position: fixed;
    bottom: 0;
    width: 100vw;
    height: 50px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
    .navButton{
        color: black;
        text-decoration: none;
        width: 50%;
        height: 100%;

        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        background: white;
    }